@{
    ViewBag.Title = "Bolagsanalys | Nyckeltal";
}
<h1>Våra nyckeltal</h1>
<hr class="clear"/>
<p>
    @Html.ActionLink("Om", "about", "help") | 
    @Html.ActionLink("Våra nyckeltal", "numbers", "help") | 
    @Html.ActionLink("Till bolagen", "index", "company")
</p>