<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- verkmastargatan4.dyndns.org:82 -->
    <!-- localhost:8282 -->    
    <add key="ODataUri" value="http://verkmastargatan4.dyndns.org:82/odata"/>
  </appSettings>
</configuration>