<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="navbar-dropdown"><img alt="Brand" src="@Url.Content("~/images/chart32.png")" /></span></a>
</li>
