<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="navbar-dropdown"><img alt="Brand" src="@Url.Content("~/images/chart32.png")" /></span><b class="caret navbar-dropdown" style="color: white;"></b></a>
    <ul class="dropdown-menu dropdown-menu-left">
        <li><a href="@Url.Action("index", "company")"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;HEM</a></li>
        <li><a href="#" class="new-company-link"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;NYTT BOLAG</a></li>
    </ul>
</li>
