@using CompanyAnalysis

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="img/favicon_1.ico">

    <title>Company Analysis</title>

    <!-- Google-Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">

    <!--Animation css
    <link href="css/animate.css" rel="stylesheet">
    -->
    <!--Icon-fonts css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/ionicon/css/ionicons.min.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Aside Start-->
    <aside class="left-panel">

        <!-- brand -->
        <div class="logo">
            <a href="index.html" class="logo-expanded">
                <img src="img/logo.png" alt="logo">
                <span class="nav-label"></span>
            </a>
        </div>
        <!-- / brand -->
        <!-- Navbar Start -->
        <nav class="navigation">
            <ul class="list-unstyled">
                <li class="has-submenu">
                    <a href="#"><i class="ion-home"></i> <span class="nav-label">My Companies</span></a>
                    <ul class="list-unstyled">
                        @foreach (KeyValuePair<int, string> company in Model.Companies)
                        {
                            <li><a href="index.html">@company.Value</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </nav>

    </aside>
    <!-- Aside Ends-->
    <!--Main Content Start -->
    <section class="content">

        <!-- Header -->
        <header class="top-head container-fluid">
            <button type="button" class="navbar-toggle pull-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Search -->
            <form role="search" class="navbar-left app-search pull-left hidden-xs">
                <input type="text" placeholder="Search..." class="form-control">
            </form>

            <!-- Right navbar -->
            <ul class="list-inline navbar-right top-menu top-right-menu">                
                
                <!-- user login dropdown start-->
                <li class="dropdown text-center">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="img/jens.jpg" class="img-circle profile-img thumb-sm">
                        <span class="username">John Deo </span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu extended pro-menu fadeInUp animated" tabindex="5003" style="overflow: hidden; outline: none;">
                        <li><a href="profile.html"><i class="fa fa-briefcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- End right navbar -->

        </header>
        <!-- Header Ends -->
        <!-- Page Content Start -->
        <!-- ================== -->

        <div class="wraper container-fluid">
            @RenderBody()
        </div>
        <!-- Page Content Ends -->
        <!-- ================== -->
        <!-- Footer Start -->
        <footer class="footer">
            NORDSPIRAN AB
        </footer>
        <!-- Footer Ends -->



    </section>
    <!-- Main Content Ends -->
</body>


<!-- js placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="js/jquery.app.js"></script>

</html>